<h1>Postts</h1>
<%= render 'form', postt: @postt %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @postts.each do |postt| %>
      <tr>
        <td><%= postt.name %></td>
        <td><%= postt.description %></td>
        <td><%= link_to 'Show', postt %></td>
        <td><%= link_to 'Edit', edit_postt_path(postt) %></td>
        <td><%= link_to 'Destroy', postt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Postt', new_postt_path %>