<h1>Postts</h1>
<%= render 'form', postt: @postt %>

<table id="dttb" class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Image</th>
      <th>Action</th>
    </tr>
  </thead>

  <tbody>
    <% @postts.each do |postt| %>
      <tr>
        <td><%= postt.name %></td>
        <td><%= postt.description %></td>
        <td><%= image_tag post.image_url rescue nil %></td>
        <td><%= link_to 'Show', postt %>
        <%= link_to 'Edit', edit_postt_path(postt) %>
        <%= link_to 'Destroy', postt, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<script type="text/javascript">
    $(document).ready(function() {
      $("#dttb").dataTable();
    }); 
  </script>

<br>

<%= link_to 'New Postt', new_postt_path %>