<p id="notice"><%= notice %></p>

<h1>Pages</h1>
<p> Every student is welcome at ScriptieMaster for help with writing their thesis. So whether you find it difficult getting started, are stuck while writing your thesis, or have trouble staying motivated, we always offer the thesis help and guidance that fits your situation. This way, we ensure that you can graduate on time and be satisfied with the results. </p>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pages.each do |page| %>
      <tr>
        <td><%= link_to 'Show', page %></td>
        <td><%= link_to 'Edit', edit_page_path(page) %></td>
        <td><%= link_to 'Destroy', page, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @pages, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
<br>

<%= link_to 'New Page', new_page_path %>
