<h1>Tests</h1>
<%= render 'form', test: @test %>

  <table id="dttb" class="table table-hover">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
         <th>Image</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>

    	<% tests.each do |test| %>
			  <tr>
			    <td><%= test.name %></td>
			    <td><%= test.description %></td>
          <td><%= image_tag post.image_url rescue nil %></td>
			    <td><%= link_to 'Show', test %>
			    <%= link_to 'Edit', edit_test_path(test) %>
			    <%= link_to 'Destroy', test, method: :delete, data: { confirm: 'Are you sure?' }, 
			      :remote => true %></td>
			  </tr>
			<% end %>
      
        
    </tbody>
  </table>
 
<!--  -->


<!-- <script type="text/javascript">
    $(document).ready(function() {
      $("#dttb").dataTable();
    }); 
  </script>
 -->
  <br>

  <%= link_to 'New Test', new_test_path %>
  <%= will_paginate tests %>
